.cp-transition {
  &__container {
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 15px;

    @media (max-width: 768px) {
      min-height: 250px;
    
    }

    &>div {
      height: 100%;
    }

    &--yellow {
      background-image: radial-gradient(circle 929px at 0.6% 1.3%, rgba(248, 251, 10, .4) 0%, rgba(248, 47, 47, .4) 82.6%);
    }

    &--green {
      background-image: linear-gradient(110.1deg, rgba(34, 126, 34, .4) 2.9%, rgba(168, 251, 60, .4) 90.3%);
    }

    &--violet {
      background-image: linear-gradient(109.7deg, rgba(229, 0, 57, .4) 1.8%, rgba(162, 91, 182, .4) 90.2%);
    }

    &--blue {
      background-image: radial-gradient(circle 654px at 0.6% 48%, rgba(12, 170, 255, .4) 0%, rgba(151, 255, 129, .4) 86.3%);
    }
  }

  &__component-wrapper {
    max-width: 70rem;
    width: 100%;
    height: 33rem;
    margin: 30px 0;
    border-radius: 15px;
    overflow: hidden;
    display: grid;
    place-items: center center;
    padding: 40px;
    background-color: #eeeeee;
    border-radius: 15px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);

    @media (max-width: 768px) {
      padding: 10px 0;
   }

  }

  .square {
    position: relative;
    height: 150px;
    width: 150px;
    margin: 15px;
    border-radius: 15px;
    box-shadow: var(--shadow-md);
    transition: all .2s;
    cursor: pointer;

    &--yellow {
      background-image: url('../../images/videogamesIcon.png');
      background-size: cover;
      background-position: center;
    }

    &--green {
      background-image: url('../../images/memoryGame.png');
      background-size: cover;
      background-position: center;
    }

    &--violet {
      background-image: url('../../images/gotLogo.png');
      background-size: cover;
      background-position: center;
    }

    &--blue {
      background-image: url('../../images/postitLogo.png');
      background-size: cover;
      background-position: center;
    }

    &:hover {
      transform: translateY(-3px) !important;
    }
  }

  &__squares-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    // background: white;

    @media (max-width: 768px) {
       display: grid;
       grid-template-columns: repeat(2, auto);
       justify-items: center;
       padding: 20px 0;
    }
  }

  .card {
    color: white;

    &__wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 30px;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: min-content 1fr;
      gap: 20px;
      border-radius: 15px;

      @media (max-width: 768px) {
        gap: 5px;
        padding: 30px 10px;
      }

      &--yellow {
        background-image: radial-gradient(circle 929px at 0.6% 1.3%, rgba(248, 80, 80, 1) 0%, rgba(247, 251, 10, 0.7) 82.6%);
      }

      &--green {
        background-image: linear-gradient(110.1deg, rgba(216, 181, 255, 0.99) 2.9%, rgba(30, 174, 152, 0.99) 90.3%);
      }

      &--violet {
        background-image: linear-gradient(109.7deg, rgba(229, 0, 57, 1) 1.8%, rgba(162, 91, 182, 0.5) 90.2%);
      }

      &--blue {
        background-image: radial-gradient(circle 654px at 0.6% 48%, rgba(9, 32, 63, 0.99) 1.8%, rgba(83, 120, 149, 0.99) 86.3%);
      }
    }

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h2 {
        font-size: 3.2rem;
        font-weight: 700;
      }

      button {
        // color: white;
        // border: none;
        // background: transparent;
        // cursor: pointer;


        &:focus {
          outline: none;
        }
      }
    }

    &__content {
      display: flex;
      gap: 30px;
      align-content: center;
      shape-outside: circle();

      @media (max-width: 768px) {
        flex-direction: column;
        gap: 5px;
      }

    }

    &__img-placeholder {
      height: 175px;
      width: 175px;

      @media (max-width: 768px) {
        height: 100px;
        width: 100px;
      }
    }

    &__text-placeholder {
      // text-align: justify;
      line-height: 125%;
      font-size: 1.4rem;

      @media (max-width: 768px) {
        font-size: 1rem;
      }
    }
  }
}